@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;1,200;1,400&family=Silkscreen&display=swap');

*{
    font-family: 'Barlow Condensed', sans-serif;
}

body{
    background-image: url(../calculator-project/images/galaxy-background.jpg);
    height: 100vh;
    width: 100vw;
    flex: 0 0 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    flex: 0 0 22vw;
    border: solid .1rem #576F72;
    border-radius: 3rem;
}

.screen{
    background-color: black;
    height: 25vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.screen div{
    height: 50%;
    width: 100%;
    font-family: 'Silkscreen', cursive;
    color: white;
    font-size: 4vh;
    text-align: right;
    padding-top: 1rem;
}

.buttons{
    background-color: black;
    display: inline-grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    height: 50vh;
    width: 21vw;
}

button{
    width: 4.5vw;
    height: 4.5vw;
    background-color: #413F42;
    border-radius: 50%;
    color: white;
    font-size: 2vw;
    border: none;
    line-height: 4.5vw;
}

button:hover{
    background-color: rgba(115, 119, 123, .4);
}

.light-gray{
    background-color: #7F8487;
}

.light-gray:hover{
    background-color: rgba(223, 223, 222, .4);
}

.yellow{
    background-color: #FFB200;
}

.yellow:hover{
    background-color: #FFCB42;
}

.zero{
    grid-column: 1;
    grid-column-end: 3;
    width: 10vw;
    border-radius: 1.9rem;
}
